#iframecont {
    width: 711px;
    border-radius: 10px;
    overflow: hidden;
}

.row .card {
    cursor:pointer;
    height:180px;
    position: relative;
}


.row .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.row .card:hover i {
    opacity: 1;
    transition: opacity .3s linear;
}

.iconcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000060;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0 5px gray;
}

.iconcontainer i{
    opacity: 0;
    font-size: 8rem;
    line-height: 12rem;
    color: aliceblue;
}


.servicesbody {
    background-image: linear-gradient(90deg, #FF9A8B60, #FF6A8860),url('/images/gold.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



